﻿
@{
    ViewBag.Title = "PerUserHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/common.css")
@Scripts.Render("~/Scripts/HighCharts/highcharts.js")
@Scripts.Render("~/Scripts/HighCharts/modules/exporting.js")
@Scripts.Render("~/Scripts/HighCharts/chartsRendering.js")

@Scripts.Render("~/Scripts/Peruser/perUser.js")
<h4 align="center">&nbsp;</h4>
<div id="findControl" class="container center half">

    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input id="inFirstName" type="text" class="form-control" placeholder="John">
        </div>
        <div class="form-group">
            <input id="inLastName" type="text" class="form-control" placeholder="Nimelson">
        </div>
        <button id="find" type="submit" class="btn btn-default">Find</button>
    </form>
</div>

<div id="usersTable">
    <table class="table table-hover" border="1">
        <thead>
            <tr>
                <td><b>First Name</b></td>
                <td><b>Last Name</b></td>
                <td><b>Login</b></td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <hr />
</div>


<div id="userInformations">

    <div class="center half">
        <h2 class="text-center">Last App Domains</h2>
        <div id="app" class="basic-chart"></div>
    </div>
    <hr />

    <div class="center half">
        <h2 class="text-center">Last Web Domains</h2>
        <div id="web" class="basic-chart"></div>
    </div>
    <hr />
    <div class="container">
        @*<h2 align="center">Categories</h2>*@
        <div class="clr" id="chartsCategory">

        </div>
    </div>
    <hr />
    <div class="container">
        @*<h2 align="center">Spectrums</h2>*@
        <div class="clr" id="chartsSpectrum">

        </div>
    </div>
</div>