﻿@{
    ViewBag.Title = "ConfigurationHomePartial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/common.css")
@Styles.Render("~/Content/popup.css")
@Scripts.Render("~/Scripts/Configuration/Categories/categories.js")

<h4 align="center">&nbsp;</h4>
<!-- Categories -->
<div id="categoriesContainer" class="clr center half">
    <table class="table table-hover" border="1">
        <thead>
            <tr>
                <td><b>Name</b></td>
                <td><b>IsRenderable</b></td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!-- Edit Category Popup-->
<div id="categoryPopup" class="cd-popup" role="alert">
    <div class="cd-popup-container">
        <h1 id="headerEdit"></h1>
        <div>
            <table id="categoryPopupContainer" class="table">
                <thead>
                    <tr>
                        <td><b>Name</b></td>
                        <td><b>IsRenderable</b></td>
                    </tr>
                </thead>
                <tbody>
                    <!--Category popup body-->
                </tbody>
            </table>
            <ul class="cd-buttons">
                <li><a href="#0" class="deleteCategory">Delete</a></li>
                <li><a href="#0" class="hideCategory">Hide</a></li>
            </ul>
            <a href="#0" class="cd-popup-close img-replace">Close</a>

        </div> <!-- cd-popup-container -->
    </div> <!-- cd-popup -->
</div>

<!-- Category Items Popup-->
<div id ="categoryItemsPopup" class="cd-popup" role="alert">
    <div class="cd-popup-container">
        <h1 id="header"></h1>
        <div>
            <table id="categoryItemsContainer" class="table table-hover">
                <thead>
                    <tr>
                        <td><b>Identifier</b></td>
                        <td>Type</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    <!--Category items body-->
                </tbody>
            </table>
            <ul class="cd-buttons">
                <li><a href="#0" class="deleteCategoryItemsPopup">Delete</a></li>
                <li><a href="#0" class="hideCategory">Hide</a></li>
            </ul>
            <a href="#0" class="cd-popup-close img-replace">Close</a>

        </div> <!-- cd-popup-container -->
    </div> <!-- cd-popup -->
</div>
