﻿@{
    ViewBag.Title = "ConfigurationHomePartial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 @Styles.Render("~/Content/common.css")
 @Scripts.Render("~/Scripts/Configuration/configuration.js")
<h4 align="center">&nbsp;</h4>
<div class="center">
    <ul class="nav nav-tabs center" role="tablist">

        <li class="active">
            <a href="#sysParameters" data-toggle="tab">System parameters</a>
        </li>

        <li>
            <a href="#crontabParameters" data-toggle="tab">Crontab parameters</a>
        </li>

        <li>
            <a href="#categories" data-toggle="tab">Categories</a>
        </li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <!-- System parameters -->
        <div class="tab-pane active" id="sysParameters">
            <!-- System parameters-->
            <div class="half center" id="sysParametersContainer">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td><b>Id</b></td>
                            <td><b>Name</b></td>
                            <td><b>Key</b></td>
                            <td><b>Value</b></td>
                        </tr>
                    </thead>
                    <tr>
                        <td>1</td>
                        <td>mgasior</td>
                        <td>12/05/2015</td>
                        <td>28/09/3243</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>mgasior</td>
                        <td>12/05/2015</td>
                        <td>28/09/3243</td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Crontab parameters -->
        <div class="tab-pane" id="crontabParameters">
            <!-- Crontab parameters -->
            <div class="center half" id="crontabParametersContainer">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td><b>Name</b></td>
                            <td><b>Interval</b></td>
                            <td><b>InputFolderName</b></td>
                            <td><b>ErrorFolderName</b></td>
                            <td><b>RootPath</b></td>
                            <td><b>OutputFolderName</b></td>
                            <td><b>IsActive</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CrontabName</td>
                            <td>Interval</td>
                            <td>InputFolderName</td>
                            <td>ErrorFolderName</td>
                            <td>RootPath</td>
                            <td>OutputFolderName</td>
                            <td>IsActive</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <!-- Categories -->
        <div class="tab-pane" id="categories">
            <!-- Categories Managment -->
            <div class="left" id="categoriesContainer">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td><b>Name</b></td>
                            <td><b>Type</b></td>
                            <td><b>IsRenderable</b></td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Social Media</td>
                            <td>Web</td>
                            <td>Yes</td>
                            <td><button class="glyphicon glyphicon-remove-circle btn"></button></td>
                        </tr>

                        <tr>
                            <td><input id="inNameCategory" type="text" class="form-control" /></td>
                            <td><input id="inTypeCategory" type="text" class="form-control" /></td>
                            <td><input id="inIsRenderableCategory" type="text" class="form-control" /></td>
                            <td><button class="glyphicon glyphicon-ok-circle btn"></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="right" id="categoryItemsContainer">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td><b>Identifier</b></td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>facebook.com</td>
                            <td><button class="glyphicon glyphicon-remove-circle btn"></button></td>
                        </tr>
                        <tr>
                            <td>twitter.com</td>
                            <td><button class="glyphicon glyphicon-remove-circle btn"></button></td>
                        </tr>
                        <tr>
                            <td><input id="inUniqueCategoryItem" type="text" class="form-control" /></td>
                            <td><button class="glyphicon glyphicon-ok-circle btn"></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>



</div>






