﻿@{
    ViewBag.Title = "ConfigurationHomePartial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 @Styles.Render("~/Content/common.css")
 @Scripts.Render("~/Scripts/Configuration/SystemParameters/systemParameters.js")

<!-- System parameters -->
<div class="tab-pane active" id="sysParameters">
    <!-- System parameters-->
    <div class="half center" id="sysParametersContainer">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td><b>Id</b></td>
                    <td><b>Name</b></td>
                    <td><b>Key</b></td>
                    <td><b>Value</b></td>
                </tr>
            </thead>
            <tr>
                <td>1</td>
                <td>mgasior</td>
                <td>12/05/2015</td>
                <td>28/09/3243</td>
            </tr>
            <tr>
                <td>1</td>
                <td>mgasior</td>
                <td>12/05/2015</td>
                <td>28/09/3243</td>
            </tr>
        </table>
    </div>
</div>