﻿.border {
    border: 1px solid red;
    position: absolute;
}

.left {
    float: left;
    /*display: inline-table;
   
    width:50%;*/
}

.right {
    float: right;
    /*display: inline-table;
    
    width:50%;*/
}

.clr {
    clear: both;
}

.center {
    /*margin-left: 25%;
    margin-right: 25%;*/
    display: table;
    margin: 0 auto;
    min-width: 600px;
}

.table td {
    text-align: center;
}

.half {
    width: 50%;
}

.none {
    display: none;
}

.popup {
    display: none;
    position: absolute;
    top: 25%;
    padding: 4px;
    border: 2px solid orange;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}


.asBlock{
    display:block;
}

tr:nth-child(even){
  background: #d3d3d3
}

/*tr:nth-child(odd){
 background: #c0c0c0
}*/

