﻿@{
    ViewBag.Title = "ConfigurationHomePartial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 @Styles.Render("~/Content/common.css")
 @Scripts.Render("~/Scripts/Configuration/CrontabParameters/crontabParameters.js")
<h4 align="center">&nbsp;</h4>
<!-- Crontab parameters -->
<div class="center" id="crontabParameters">
    <!-- Crontab parameters -->
    <div id="crontabParametersContainer">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td><b>Name</b></td>
                    <td><b>Interval[Minutes]</b></td>
                    <td><b>Input Folder Name</b></td>
                    <td><b>Error Folder Name</b></td>
                    <td><b>Root Path</b></td>
                    <td><b>Output Folder Name</b></td>
                    <td><b>Is Active</b></td>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

</div>







