﻿@{
    ViewBag.Title = "CategoriesHomePartial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 @Styles.Render("~/Content/common.css")
 @Scripts.Render("~/Scripts/HighCharts/highcharts.js")
 @Scripts.Render("~/Scripts/HighCharts/modules/exporting.js")
 @Scripts.Render("~/Scripts/HighCharts/chartsRendering.js")
<h4 align="center">&nbsp;</h4>
<!--Social trends Web-->
<div class="container">
    <div class="clr" id="charts">
        <div class="left half">
            <h2 class="text-center">First Category</h2>
            <div id="firstCategory" class="basic-chart"></div>
        </div>
    </div>
</div>
@Scripts.Render("~/Scripts/Categories/chartsScript.js")