﻿@{
    ViewBag.Title = "TrendsHomePartial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 @Styles.Render("~/Content/common.css")
 @Scripts.Render("~/Scripts/HighCharts/highcharts.js")
 @Scripts.Render("~/Scripts/HighCharts/modules/exporting.js")
 @Scripts.Render("~/Scripts/HighCharts/chartsRendering.js")
<h4 align="center">&nbsp;</h4>
<!--Social trends Web-->
<div class="container">
    <div class="clr" id="charts">

    </div>
</div>

@Scripts.Render("~/Scripts/Trends/chartsScript.js")
