﻿@{
    ViewBag.Title = "CrontabsHomePartial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 @Styles.Render("~/Content/common.css")
 @Scripts.Render("~/Scripts/Crontabs/crontab.js")

<h4 align="center">&nbsp;</h4>
<!-- Crontabs List-->
<div class="clr center half" id="crontabContainer">

</div>
@*<div class="center container">
    <table class="table" border="1">
        <thead>
            <tr>
                <td>Id</td>
                <td>Login</td>
                <td>DateOfFile</td>
                <td>ProcessingDate</td>
            </tr>
        </thead>
        <tr>
            <td>1</td>
            <td>mgasior</td>
            <td>12/05/2015</td>
            <td>28/09/3243</td>
        </tr>
        <tr>
            <td>1</td>
            <td>mgasior</td>
            <td>12/05/2015</td>
            <td>28/09/3243</td>
        </tr>
    </table>
</div>*@

