﻿@{
    ViewBag.Title = "AppPathMapPartial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/common.css")
@Styles.Render("~/Content/popup.css")
@Scripts.Render("~/Scripts/Configuration/AppPathMap/appPathMap.js")

<h4 align="center">&nbsp;</h4>
<!-- Categories -->
<div id="categoriesContainer" class="clr center half">
    <table class="table table-hover" border="1">
        <thead>
            <tr>
                <td><b>Path</b></td>
                <td><b>Name</b></td>
                <td><b>Action</b></td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
