﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("NI-CSTH", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Trends", "Index", "Trends", new {area = "" }, null)</li>
                    <li>@Html.ActionLink("Statistics", "Index", "Statistics", new {area = "" }, null)</li>
                    <li>@Html.ActionLink("Per User", "Index", "PerUser", new {area = "" }, null)</li>
                    <li>@Html.ActionLink("Crontabs", "Index", "Crontabs", new {area = "" }, null)</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configurations</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("System Parameters", "Index", "SystemParameters", new {area = "" }, null)</li>
                            <li>@Html.ActionLink("Crontab Parameters", "Index", "CrontabParameters", new {area = "" }, null)</li>
                            <li>@Html.ActionLink("Categories", "Index", "CategoriesEdit", new {area = "" }, null)</li>
                            <li>@Html.ActionLink("Spectrums", "Index", "SpectrumsEdit", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Mapping", "Index", "AppPathMap", new { area = "" }, null)</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        <hr />
        @*<footer style=" clear: both;position: relative;z-index: 10;height: 3em;margin-top: -3em;">
            <p>&copy; @DateTime.Now.Year - NI-CSTH</p>
        </footer>*@
    </div>
</body>
</html>
